body {
    background-color: #18191A; 
    color: white; 
    padding: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.imgContainer {
    width: 100%; /* Optional: Set a maximum width for the container */
    max-width: 1440px;
    margin: 0; /* Optional: Center the container horizontally */
}
  
  .imgContainer img {
    display: block;
    max-width: 100%;
    height: auto;
}

nav{
    display: flex; 
    flex-direction: column;
    text-align: center;
    position: sticky; 
}

nav a { 
    color: #643b9f;
    font-size: 20px; 
}

h1 {
    text-align: center;
    color: #c8a4d4;
}

h2 { 
    color: #c8a4d4;
}

.lineup h3 { 
    color: #643b9f;
}

.lineup h4 { 
    color: #c8a4d4;
    line-height: 0;
}

ul {
    list-style-type: none;
}

.intro { 
    display: flex; 
    flex-direction: column;
    text-align: center;
    padding-block: 5em; 
    font-size: 16px;
}

.labels {
    color: #c8a4d4;
}

@media screen and (max-width: 400px){
    .grid {
        flex-direction: column;
    }
    .lineup { 
        font-size: 14px;
    }
}

  @media screen and (min-width: 1000px){
    .grid {
        flex-direction: column;
    }
    .intro { 
        font-size: 25px;
    }
    .lineup { 
        font-size: 23px;
    }
}