html, body {
  height: 100%;
  margin: 0 auto;
  background-color: black;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #643b9f; 
    text-align: center;
    font-size: 40px;
  }

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c8a4d4;
    text-align: center;
    font-size: 30px;
  }
  
.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  height: 100%;
}

.input-container {
  display: flex; /* Make input elements flex items */
  align-items: center; /* Center input elements vertically */
}

input[type="number"] {
  width: 50px;
}

button {
  margin-left: 10px;
  font-size: 20px; /* Increase font size for button text */
}

.result {
  font-size: 30px;
  color: #c8a4d4;
}

.label-text {
  font-size: 30px;
  color: #c8a4d4;
}
