body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: pink;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: red;
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:white;
}


img{
    width:30vw;
    height: 30vh;

    animation-name: animateImage;
    animation-iteration-count: 3;
    animation-duration: 2s;
}

#red-ball{
    background-color: blue;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;

    transition:
    width 2s,
    height 2s;
}
#red-ball:hover {
    width: 200px;
    height: 200px;
}

@keyframes animateImage {
    from{
        margin-right: 100%;
        transform: rotate(280deg); 
    }
    to{
        width:30vw;
        height: 30vh;
        margin-left: 0%
    }
}
